/* 
Light Shades: F3F5F3
Light Accents: 868D9C
Main BBrand Color: 75737E
Dark Accent: 647CB1
Dark Shades: 241C2C 
*/

* {
box-sizing: border-box; background-color: #241C2C;
}

.pfp {
    display: inline-block; border-radius: 50%; width: 200px;
}

.name {
    font-family: 'Times New Roman', Times, serif; font-size: 50px; color: #647CB1; text-align: center;
}

.body {
    color: #868D9C; font-family: 'Times New Roman', Times, serif; font-size: 20px; text-align: center; padding: 10px;
}

.list_title {
    font-family: 'Times New Roman', Times, serif; font-size: 35px; color: #647CB1;
}

.list {
    color: #868D9C; font-family: 'Times New Roman', Times, serif; font-size: 20px;
}

.bold {
    font-family: 'Times New Roman', Times, serif; font-size: 20px; color: #647CB1;
}

.footer {
     font-family: 'Times New Roman', Times, serif; font-size: 35px; color: #647CB1; font-weight: bold;
}

.button {
    color: #F3F5F3; font-family: 'Times New Roman', Times, serif; font-size: 20px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111111;
}



