/* 
Light Shades: F3F5F3
Light Accents: 868D9C
Main BBrand Color: 75737E
Dark Accent: 647CB1
Dark Shades: 241C2C 
*/

* {
box-sizing: border-box; background-color: #241C2C;
}

.pfp {
    display: inline-block; border-radius: 50%; width: 200px;
}

.name {
    font-family: 'Times New Roman', Times, serif; font-size: 50px; color: #647CB1;
}

.body {
    color: #868D9C; font-family: 'Times New Roman', Times, serif; font-size: 20px;
}

.list_title {
    font-family: 'Times New Roman', Times, serif; font-size: 35px; color: #647CB1;
}

.list {
    color: #868D9C; font-family: 'Times New Roman', Times, serif; font-size: 20px;
}

.bold {
    font-family: 'Times New Roman', Times, serif; font-size: 20px; color: #647CB1;
}

.footer {
     font-family: 'Times New Roman', Times, serif; font-size: 35px; color: #647CB1; font-weight: bold;
}

.button {
    color: #F3F5F3; font-family: 'Times New Roman', Times, serif; font-size: 18px;
}